.navbar {
    background-color: $mainColor;
    padding: 15px 0;
    .brand {
        margin: auto;
        img {
            max-height: 60px;
            margin: auto;
        }
    }
    .nav-menu {
        position: absolute;
        left: 6rem;
        @media #{$maxSmall} {
            position: static;
            margin: auto;
            padding: 0;
        }   
        li {
            display: inline-block;
            padding: 10px 15px;
            a {
                color: $lightColor;
                font-size: 18px;
            }
        }
    }
}