@import "helpers/variables";
@import "helpers/mixins";
@import "components/buttons";
@import "components/animations";
@import "components/scroll-top-button";
@import "layouts/navbar";
@import "sections/front-page";
@import "sections/registeration-links";
@import "sections/login";
@import "sections/services";
@import "sections/register";
@import "sections/management-links";
@import "sections/select-design";
@import "sections/format-page";
@import "sections/event-details";
@import "sections/place-details";
@import "sections/login-cards";
@import "sections/choose-category";
@import "sections/price-details";
@import "sections/services-offering";
@import "sections/pay-details";
@import "sections/category-price";
@import "sections/id-design";
@import "layouts/footer";


/* =====[Start: Global rules]===== */
body {
    direction: rtl;
}
*, h1, h2, h3, h4, h5, h6 {
    font-family: 'Tajawal', sans-serif;
}
a {
    text-decoration: none !important;
}
.eventrah-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.eventrah-body,
.services,
.registeration-links,
.login-page,
.register-page,
.management-links,
.select-design,
.format-page,
.event-details,
.place-details,
.login-cards,
.choose-category,
.price-details,
.login-cards-links,
.conferences,
.events,
.services-offering,
.notes,
.help,
.pay-details,
.category-price {
    &:after,
    &:before {
        content: '';
        background: url(../images/shape.png);
        background-repeat: no-repeat;
        position: absolute;
        height: 100px;
        @media #{$maxSmall} {
            display: none
        }
    }
    &:after {
        bottom: 0;
        left: 20px;
        width: 36%;  
        z-index: -1;
    }
    &:before {
        top: 40px;
        right: 20px;
        width: 33%;
        z-index: -1;
    }
}
.eventrah-body,
.services,
.registeration-links {
    @media #{$maxSmall} {
        display: block
    }
}
.management-links,
.registeration-links,
.register-page,
.login-page,
.select-design,
.format-page,
.event-details,
.place-details,
.login-cards,
.choose-category,
.price-details,
.login-cards-links,
.conferences,
.events,
.services-offering,
.notes,
.help,
.pay-details,
.category-price {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 15px;
    padding-right: 35px;
    &:hover input ~ .checkmark {
        background-color: #ccc;
    }
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    input:checked ~ .checkmark {
        background-color: #2196f3;
    }
    input:checked ~ .checkmark:after {
        display: block;
    }
    .checkmark {
        position: absolute;
        top: 5px;
        right: 0;
        height: 25px;
        width: 25px;
        border: 1px solid #2196f3;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}
/* =====[End: Global rules]===== */